body{
    margin: 0;
    font-family:sans-serif;
}
nav{
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    background-color:#EBEBEB;

}
nav a{
    text-decoration: none;
    padding: 20px;
    color: black
}
nav a:hover{
    background-color: #D9D9D9
}
.active{
    background-color:#3ABED3;
    color:white;
}
.informationheadermain{

    width: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.contactwrap{
    display:flex;
    flex-direction:row;
    justify-content: center;
}
.informationheadermain  a{
    text-decoration: none;
        text-align: center;
    background-color: #3ABED3;
    padding: 20px;
    border-radius: 30px;
    color: white;
}
.informationheadermain > h1{
    text-align: center;
    color: white;
    font-size: 50px;
    margin: 50px;
}
.informationheadermain > p{
    text-align: center;
    color:white;
    margin: 50px;
    font-size: 150%;
}
.informationheaderother{
    width: 50%;
    padding: 50px;
    display:flex;
    flex-direction:row;
    justify-content: center;
}
.informationheaderother > img{
    width: 150%;
}
.informationheader{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/doctorstockphoto.jpg');
    background-color: #3ABED3;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: row;
    z-index: 0;
    justify-content: center;
}
